<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <style>
        .cell{text-align: center; width: 100px; height: 100px; table-layout: fixed;}
        .cancleBtn:disabled{cursor: not-allowed}
    </style>
</head>
<body>
    <table id="tictactoe" border="1">
        <tr class="row">
            <td name="0" class="cell"></td>
            <td name="1" class="cell"></td>
            <td name="2" class="cell"></td>
        </tr>
        <tr class="row">
            <td name="0" class="cell"></td>
            <td name="1" class="cell"></td>
            <td name="2" class="cell"></td>
        </tr>
        <tr class="row">
            <td name="0" class="cell"></td>
            <td name="1" class="cell"></td>
            <td name="2" class="cell"></td>
        </tr>
    </table>
    <input id="cancleBtn" class="cancleBtn" type="button" value="무르기"/>
    <script src="js/tictactoe.js"></script>
</body>
</html>
